<H1>Connection String Generator</H1>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <form class="connection-string-form" (ngSubmit)="generateConnectionString()">
      <div *ngFor="let kv of keyValues; let i = index" class="key-value-row">
        <mat-form-field appearance="outline">
          <mat-label>Key</mat-label>
          <input matInput [(ngModel)]="kv.key" name="key{{i}}" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Value</mat-label>
          <input matInput [(ngModel)]="kv.value" name="value{{i}}" required />
        </mat-form-field>
        <button mat-icon-button color="warn" type="button" (click)="removeKeyValue(i)"
          [disabled]="keyValues.length === 1">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
      <button mat-stroked-button color="primary" type="button" (click)="addKeyValue()">
        <mat-icon>add</mat-icon> Add Field
      </button>
    </form>
    <div class="result">
      <mat-label>Generated Connection String:</mat-label>
      <mat-form-field appearance="fill" class="connection-string-output">
        <input matInput [value]="connectionString" readonly />
        <button mat-icon-button matSuffix (click)="copyToClipboard(connectionString)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="result">
      <mat-label>JSON Format:</mat-label>
      <mat-form-field appearance="fill" class="connection-string-output">
        <textarea matInput [value]="jsonString" readonly rows="6"></textarea>
        <button mat-icon-button matSuffix (click)="copyToClipboard(jsonString)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="result">
      <mat-label>ConnectingStrings JSON:</mat-label>
      <mat-form-field appearance="fill" class="connection-string-output">
        <textarea matInput [value]="jsonConnectionString" readonly rows="6"></textarea>
        <button mat-icon-button matSuffix (click)="copyToClipboard(jsonConnectionString)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
